.button {
    font-family: var(--font-semibold);
    font-size: 0.8125rem;
    padding: 0.28125rem 0; 
    text-align: center;
    width: 6.875rem; 
    border-radius: 0.5rem; 
    background-color: unset;
    border: 0.09375rem solid black;
    box-shadow: 0.1875rem 0.1875rem 0px 0px rgba(0, 0, 0); 
    cursor: pointer;
    color: black;
}

.btn-large {
    width: 11rem;
    height: 2.5rem;
    font-size: 1rem;
    box-shadow: 0.19rem 0.19rem 0px 0px rgba(0, 0, 0); 
    cursor: pointer;
    color: black;
}

.btn-yellow {
    background-color: var(--yellow);
}

.btn-pink {
    background-color: var(--pink);
}

.btn-green {
    background-color: var(--green);
}


@media screen and (max-width: 550px) {
    .button {
        font-size: 0.7rem;
        width: 5.8rem; 
    }
    
    .btn-large {
        width: 8rem;
        height: 2rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 350px) {
    .btn-large {
        width: 6.5rem;
        height: 1.8rem;
        font-size: 0.67rem;
    }
}