.button{
    font-family: var(--font-semibold);
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    background-color: unset;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0);
}

.btn-large{
    width: 170px;
    height: 40px;
}

.btn-yellow{
    background-color: rgb(193, 241, 96);
}

.btn-pink{
    background-color: rgb(255,72,165);
}

.btn-green{
    background-color: rgb(165, 231, 222);
}