.home {
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    text-align: center;
    margin-top: 10rem;
}

.home__content h1 {
    font-family: var(--font-bold);
    font-size: 3rem;
    line-height: 3.5rem;
    width: 33.75rem;
}

.home__content p {
    font-family: var(--font-light);
    font-size: 1rem;
    width: 37rem;
}

.home__content-buttons {
    display: flex;
    gap: 1.5rem;
}

.home__lines {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    height: 100%;
}

.line-1 {
    width: 25%;
    height: 7.5rem;
    background-color: white;
    border-top: 0.1875rem solid black;
    border-left: 0.1875rem solid black;
    font-size: 6.25rem;
    margin-left: auto;
}

.line-2 {
    width: 40%;
    margin-right: 24.8%;
    height: 7rem;
    background-color: white;
    border-top: 0.1875rem solid black;
    border-left: 0.1875rem solid black;
    font-size: 6.25rem;
    margin-left: auto;
}

.line-3 {
    width: 29%;
    margin-right: 64.6%;
    height: 5rem;
    background-color: white;
    border-top: 0.1875rem solid black;
    border-left: 0.1875rem solid black;
    font-size: 6.25rem;
    margin-left: auto;
}

.home__lines .line-1 img {
    position: absolute;
    width: 20%;
    transform: translateY(-98%);
    z-index: 1;
}

.home__lines .line-3 img {
    position: absolute;
    transform: translateY(-100%);
    width: 20%;
    z-index: 1;
}

.line-4 {
    width: 93.6%;
    margin-left: auto;
    background-color: white;
    border-left: 0.1875rem solid black;
    border-bottom: 0.1875rem solid black;
    height: 47dvh;
    margin-bottom: 5rem;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.line-4__content {
    padding: 0.5rem 5rem 5rem 5rem;
}

.line-4__content span {
    color: var(--pink);
    font-family: var(--font-bold);
    font-size: 0.9rem;
}

.line-4__content-title {
    font-family: var(--font-bold);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.line-4__content-title img {
    margin: 0;
    padding: 0;
    width: 4.6875rem;
    height: 4.6875rem;
}

.line-4__content p {
    font-family: var(--font-light);
    width: 35rem;
    margin-bottom: 3rem;
}

.line-4__image {
    align-self: end;
    width: 25rem;
    position: relative;
    bottom: -0.09rem;
}

@media screen and (max-width: 1050px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .home__content {
        display: block;
        height: auto;
        width: 100%;
        text-align: unset;
        margin-top: 5rem;
    }

    .home__content h1 {
        font-size: 1.6rem;
        line-height: 2rem;
        width: 100%;
        margin-bottom: 1.6rem;
    }
    
    .home__content p {
        font-size: 1.2rem;
        width: 92%;
        margin-bottom: 2rem;
        color: rgba(0, 0, 0, 0.48);
    }
    
    .home__content-buttons {
        display: flex;
        gap: 1.5rem;
    }

    .line-1, .line-2{
        display: none;
    }

    .line-3 {
        width: 100%;
        margin: 5rem 0;
        height: auto;
        background-color: white;
        border: none;
    }
    
    .home__lines .line-3 img {
        align-self: start;
        position: unset;
        transform: translateY(0) scale(0.87) translateX(-6rem);
        width: 100%;
    }
    
    .line-4 {
        width: 100%;
        margin: 0;
        border: none;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .line-4__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .line-4__content-title {
        font-family: var(--font-bold);
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 0.5rem;
        white-space: nowrap;
    }
    
    .line-4__content-title img {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .line-4__content p {
        font-family: var(--font-light);
        width: 100%;
        margin-bottom: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .line-4__image {
        align-self: center;
        width: 100%;
        position: unset;
        transform: scale(0.87);
    }
}
