.card{
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 44rem;
    height: 4.5rem;
    box-shadow: 0.25rem 0.15rem 0px 0px rgba(0, 0, 0); 
    padding: 1rem 2.5rem;
}

.card p{
    font-family: var(--font-regular);
    font-size: 1.01rem;
}

.card__star{
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 41rem;
    height: 4.3em;
    box-shadow: 0.3rem 0.25rem 0px 0px rgba(0, 0, 0); 
    padding: 1rem 2rem;
}

.card__content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__content img{
    width: 1.5rem;
}

.card__content p{
    font-family: var(--font-regular);
    font-size: 1rem;
}