.card {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 44rem;
    height: 4.5rem;
    box-shadow: 0.25rem 0.15rem 0px 0px rgba(0, 0, 0);
    padding: 1rem 2.5rem;
}

.card p {
    font-family: var(--font-regular);
    font-size: 1.01rem;
}

.card__star {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 41rem;
    height: 4.3em;
    box-shadow: 0.3rem 0.25rem 0px 0px rgba(0, 0, 0);
    padding: 1rem 2rem;
}

.card__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__content img {
    width: 1.5rem;
}

.card__content p {
    font-family: var(--font-regular);
    font-size: 1rem;
}


@media screen and (max-width: 1050px) {
    .card__star {
        width: 100%;
        border-radius: .8rem;
        height: 2.5em;
        padding: 1rem;
    }

    .card__content img {
        width: 1rem;
    }

    .card__content p {
        font-family: var(--font-regular);
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 0.15rem 0.1rem 0px 0px rgba(0, 0, 0);
    }

    .card p {
        font-size: 1rem;
        text-align: center;
        font-family: var(--font-medium);
    }

    .card__star {
        padding: 0.2rem 0rem 0.2rem 0.7rem;
        border-radius: .7rem;
        box-shadow: 0.2rem 0.15rem 0px 0px rgba(0, 0, 0);
    }

    .card__content {
        gap: 0.8rem;
    }

    .card__content img {
        width: 0.9rem;
    }

    .card__content p {
        font-family: var(--font-regular);
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px) {
    .card {
        padding: 1rem 1.5rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card__star {
        padding: 1rem 0rem 1rem 0.5rem;
    }

    .card__content {
        gap: 0.5rem;
    }

    .card__content img {
        width: 1rem;
    }

    .card__content p {
        font-family: var(--font-regular);
        font-size: 0.7rem;
        white-space: nowrap;
    }
}