.card{
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 40rem;
    height: 4rem;
    box-shadow: 0.25rem 0.15rem 0px 0px rgba(0, 0, 0); 
    padding: 1rem 2rem;
}

.card p{
    font-family: var(--font-light);
    font-weight: bold;
    font-size: 1rem;
}

.card__star{
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 1rem;
    width: 40rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0px 0px rgba(0, 0, 0); 
    padding: 1rem 2rem;
    margin-top: 10%;
    margin-bottom: 50%;
    margin-left: 10%;
}

.card__content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__content img{
    width: 5%;
}

.card__content p{
    font-family: var(--font-medium);
    font-size: 1rem;
}