/* Default styles */
.heading p {
    color: var(--pink);
    font-family: var(--font-semibold);
    font-size: 0.9rem;
}

.heading h1 {
    font-family: var(--font-bold);
    font-size: 3rem;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1050px) {
    .heading p {
        font-size: 1rem;
    }

    .heading h1 {
        font-size: 2rem;
        margin-top: 0.4rem;
    }
}

/* Responsive styles for even smaller screens */
@media screen and (max-width: 768px) {
    .heading p {
        font-size: 0.95rem;
    }

    .heading h1 {
        font-size: 1.5rem;
        margin-top: 0.4rem;
    }
}

/* Responsive styles for even smaller screens */
@media screen and (max-width: 350px) {
    .heading p {
        font-size: 0.7rem;
    }

    .heading h1 {
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
}
