.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.questions__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    gap: 1rem;
}

.questions__heading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions__heading-content p {
    color: var(--pink);
    font-family: var(--font-semibold);
    font-size: 0.9rem;
    margin-left: 4rem;
}

.questions__heading img{
    width: 9rem;
    height: 9rem;
    transform: scale(1.7);
    margin-top: 2rem;
}

.questions__heading-content h1 {
    font-family: var(--font-bold);
    font-size: 3rem;
    margin: 0;
}

.questions__cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 1050px) {
    .questions{
        padding: 0 1.7rem;
        width: 100%;
    }
    .questions__heading {
        margin-left: 0;
        gap: 0;
        width: 100%;
    }
    
    .questions__heading-content{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    
    .questions__heading-content p {
        font-size: 1rem;
        margin-left: 0;
    }
    
    .questions__heading img{
        display: none;
    }
    
    .questions__heading-content h1 {
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }
    
    .questions__cards{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
}

@media screen and (max-width: 768px) {
    .questions__heading-content p {
        font-size: 0.8rem;
        margin-left: 0;
    }
    
    .questions__heading-content h1 {
        font-size: 1.34rem;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 350px) {
    .questions__heading-content h1 {
        font-size: 1rem;
    }
}