.stage {
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0px 0px rgba(0, 0, 0);
    width: 40rem;
    height: 8.5rem;
}

.stage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    padding: 0.5rem 2.5rem;
    border-bottom: 0.1rem solid black;
    font-family: var(--font-semibold);
    font-size: 1rem;
}

.stage__header img {
    width: 1.8rem;
    height: 1.8rem;
}

.stage__content {
    padding: 1.1rem 2.25rem;
    font-family: var(--font-light);
    font-weight: bold;
    font-size: 1rem;
}

.stage-yellow {
    background-color: var(--yellow);
}

.stage-pink {
    background-color: var(--pink);
}

.stage-green {
    background-color: var(--green);
}

.stage-blue {
    background-color: var(--blue);
}

.faded {
    opacity: 0.3;
}

@media screen and (max-width: 1050px) {
    .stage {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .stage {
        width: 100%;
        border: 0.15rem solid black;
        border-radius: 0.8rem;
        box-shadow: 0.2rem 0.2rem 0px 0px rgba(0, 0, 0);
        overflow: hidden;
    }

    .stage__header {
        font-size: 1rem;
        padding: 0.5rem 0rem 0.5rem 1.5rem;
    }

    .stage__header img {
        display: none;
    }

    .stage__content {
        padding: 0.5rem 3rem 0.5rem 1.5rem;
        font-size: 1.03rem;
    }
}

@media screen and (max-width: 450px) {
    .stage__header {
        font-size: 0.9rem;
        padding: 0.5rem 0rem 0.5rem 1.3rem;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
    }

    .stage__content {
        padding: 0.7rem 0.1rem 0rem 1.3rem;
        font-size: 0.9rem;
        font-family: var(--font-light);
    }
}