.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1875rem solid black;
    background-color: white;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 1.875rem 4.375rem 1.0625rem 6.25rem;
    z-index: 1000;
}

.navbar__image {
    display: flex;
    align-items: center;
}

.navbar__image img {
    width: 5.3rem;
    height: auto;
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 1.375rem;
    font-family: var(--font-semibold);
    font-size: 0.84375rem;
    color: rgba(0, 0, 0, 0.8);
}

.navbar__links a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navbar__links-buttons {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 1rem 2rem;
    }

    .navbar__links{
        display: none;
    }

    .navbar__image img {
        width: 6.5rem;
    }

    .menu-icon{
        display: block;
        position: fixed;
        top: 1.3rem;
        right: 1.3rem;
        border: 0.13rem solid black;
        box-shadow: 0.1rem 0.1rem 0px 0px rgba(0, 0, 0); 
        border-radius: 0.6rem;
        width: 2.3rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: var(--pink);
        z-index: 1000;
    }

    .display__links{
        transform: unset;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        height: 100dvh;
        animation: var(--move-up) 0.8s forwards;
        width: 100dvw;
        padding: 30px;
        backdrop-filter: blur(150px);
    }

    .hide__links{
        transform: unset;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        height: 100dvh;
        animation: var(--move-up) 0.8s forwards;
        width: 100dvw;
        padding: 30px;
        backdrop-filter: blur(150px);
    }
    
}