.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1875rem solid black;
    background-color: white;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 1.875rem 4.375rem 1.0625rem 6.25rem;
    z-index: 1000;
}

.navbar__image {
    display: flex;
    align-items: center;
}

.navbar__image img {
    width: 5.3rem;
    height: auto;
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 1.375rem;
    font-family: var(--font-semibold);
    font-size: 0.84375rem;
    color: rgba(0, 0, 0, 0.8);
}

.navbar__links a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: all .3s ease;
}

.navbar__links a:hover {
    transform: scale(1.02);
}

.navbar__links-buttons {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbar {
        padding: 1rem 2rem;
        position: unset;
    }
    .navbar__image  {
        padding: .7rem 1rem;
    }

    .navbar__image img {
        width: 7rem;
        height: auto;
    }

    .navbar__links {
        position: absolute;
        height: 100dvh;
        width: 100vw;
        top: -100%;
        left: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.375rem;
        padding: 15rem 2rem;
        z-index: 999;
        font-size: 1rem;
    }

    .menu-icon {
        display: block;
        border: 0.13rem solid black;
        box-shadow: 0.1rem 0.1rem 0px 0px rgba(0, 0, 0);
        border-radius: 0.6rem;
        width: 2.3rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: var(--pink);
        cursor: pointer;
        z-index: 1000;
    }

    .display__links {
        animation: var(--move-down) 0.8s forwards;
    }

    .hide__links {
        animation: var(--move-up) 0.8s forwards;
    }
}
