.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.footer__left, .footer__right {
    border-top: 0.1875rem solid black;
    border-bottom: 0.1875rem solid black;
    height: 15rem;
}

.footer__bottom {
    grid-column: span 2;
    padding: 2rem 4rem 2rem 6rem;
    font-size: 0.56rem;
    color: rgba(0, 0, 0, 0.48);
    font-family: var(--font-regular);
    line-height: 0.68rem;
}

.footer__left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 1rem 2rem 6rem;
}

.footer__left-content img {
    width: 7rem;
    display: block;
    margin-bottom: 1rem;
}

.footer__left__bottom-social-links{
    font-size: 1.6rem;
    display: flex;
    gap: 0.4rem;
    margin-bottom: 0.2rem;
}

.footer__left__bottom p{
    font-family: var(--font-regular);
    font-size: 0.6rem;
}

.footer__right {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
    border-left: 0.1875rem solid black;
    background-color: var(--yellow);
    padding: 2rem;
}

.footer__right-col1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer__right-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right-col2 p{
    margin-bottom: 0.5rem;
}

.footer__right p{
    font-family: var(--font-semibold);
    font-size: 0.85rem;
}

.footer__right a {
    font-family: var(--font-regular);
    font-size: 0.85rem;
}


@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__left, .footer__right{
        height: auto;
        padding: 2rem 3rem;
    }

    .footer__left {
        border-bottom: none;
        border-top: none;
        height: 15rem;
        order: 2;
    }

    .footer__left-content img {
        width: 6rem;
        margin-bottom: 2rem;
    }

    .footer__left__bottom-social-links {
        font-size: 1rem;
        gap: 0.4rem;
        margin-bottom: 0.3rem;
    }

    .footer__left__bottom p {
        font-size: 0.7rem;
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        border-left: none;
        order: 1;
    }

    .footer__right-col1, .footer__right-col2 {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .footer__right-col2 {
        justify-content: space-between;
    }

    .footer__right-col2 p {
        margin-bottom: 0.5rem;
    }

    .footer__right p {
        font-family: var(--font-bold);
        font-size: 0.9rem;
    }

    .footer__bottom {
        padding: 1rem 3rem;
        border-top: 0.1875rem solid black;
        order: 3;
    }
}
