*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
    background-color: white;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

button{
    color: unset;
}
