/* Global Variables */
:root{
    /* Colors */
    --yellow:  #F6D854;
    --pink: #ED85C0;
    --green: #A4E3DB;
    --blue: #80D5EC;

    /* Font Family */
    --font-bold: 'poppins-bold';
    --font-medium: 'poppins-medium';
    --font-semibold: 'poppins-semi-bold';
    --font-regular: 'poppins-regular';
    --font-light: 'poppins-light';

    --font-medium-italic: 'poppins-medium-italic';
    --font-regular-italic: 'poppins-regular-italic';

}

/* Fonts */
@font-face {
    font-family: 'poppins-bold';
    src: url('./Assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-semi-bold';
    src: url('./Assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('./Assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('./Assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('./Assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppins-medium-italic';
    src: url('./Assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
    font-family: 'poppins-regular-italic';
    src: url('./Assets/fonts/Poppins-Italic.ttf');
}