/* Global Variables */
:root{
    /* Font Family */
    --font-bold: 'poppins-bold';
    --font-medium: 'poppins-medium';
    --font-semibold: 'poppins-semi-bold';
    --font-light: 'poppins-light';
}

/* Fonts */
@font-face {
    font-family: 'poppins-bold';
    src: url('./Assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-semi-bold';
    src: url('./Assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('./Assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('./Assets/fonts/Poppins-Light.ttf');
}